/*
  ── Slate Theme ──
  blueish theme
*/

@layer base {

:root {
  --radius: 0.5rem;
  --background: oklch(1.000 0.000 0);
  --foreground: oklch(0.143 0.004 277.6169575468132);
  --card: oklch(1.000 0.000 0);
  --card-foreground: oklch(0.143 0.004 277.6169575468132);
  --popover: oklch(1.000 0.000 0);
  --popover-foreground: oklch(0.143 0.004 277.6169575468132);
  --primary: oklch(0.503 0.247 267.4328693651454);
  --primary-foreground: oklch(0.960 0.003 278.2739739888222);
  --secondary: oklch(0.956 0.007 278.20691680574043);
  --secondary-foreground: oklch(0.199 0.022 276.4696306463229);
  --muted: oklch(0.956 0.007 278.20691680574043);
  --muted-foreground: oklch(0.488 0.095 274.77356706099425);
  --accent: oklch(0.846 0.050 277.38368625070586);
  --accent-foreground: oklch(0.183 0.049 273.12328060910363);
  --destructive: oklch(0.580 0.237 28.43022926835137);
  --border: oklch(0.867 0.023 277.92850388554785);
  --input: oklch(0.867 0.023 277.92850388554785);
  --ring: oklch(0.503 0.247 267.4328693651454);
  --chart-1: oklch(0.503 0.247 267.4328693651454);
  --chart-2: oklch(0.670 0.136 274.58068524697137);
  --chart-3: oklch(0.794 0.068 276.9161440703308);
  --chart-4: oklch(0.398 0.234 265.12879786250477);
  --chart-5: oklch(0.326 0.179 266.02013598369945);
  --sidebar: oklch(0.956 0.007 278.20691680574043);
  --sidebar-foreground: oklch(0.199 0.022 276.4696306463229);
  --sidebar-primary: oklch(0.503 0.247 267.4328693651454);
  --sidebar-primary-foreground: oklch(0.960 0.003 278.2739739888222);
  --sidebar-accent: oklch(0.846 0.050 277.38368625070586);
  --sidebar-accent-foreground: oklch(0.183 0.049 273.12328060910363);
  --sidebar-border: oklch(0.867 0.023 277.92850388554785);
  --sidebar-ring: oklch(0.503 0.247 267.4328693651454);
}

.dark {
  --background: oklch(0.196 0.026 275.99258122904837);
  --foreground: oklch(0.960 0.003 278.2739739888222);
  --card: oklch(0.233 0.035 275.6499333802206);
  --card-foreground: oklch(0.960 0.003 278.2739739888222);
  --popover: oklch(0.233 0.035 275.6499333802206);
  --popover-foreground: oklch(0.960 0.003 278.2739739888222);
  --primary: oklch(0.558 0.198 270.98404339348286);
  --primary-foreground: oklch(0.960 0.003 278.2739739888222);
  --secondary: oklch(0.292 0.040 275.9536871602802);
  --secondary-foreground: oklch(0.956 0.007 278.20691680574043);
  --muted: oklch(0.292 0.040 275.9536871602802);
  --muted-foreground: oklch(0.698 0.034 277.5761298538137);
  --accent: oklch(0.378 0.139 270.61630268625584);
  --accent-foreground: oklch(0.949 0.016 278.06720950891014);
  --destructive: oklch(0.580 0.237 28.43022926835137);
  --border: oklch(0.371 0.068 275.014650416449);
  --input: oklch(0.371 0.068 275.014650416449);
  --ring: oklch(0.558 0.198 270.98404339348286);
  --chart-1: oklch(0.558 0.198 270.98404339348286);
  --chart-2: oklch(0.659 0.155 273.8441457518761);
  --chart-3: oklch(0.768 0.107 275.9111398561321);
  --chart-4: oklch(0.439 0.199 268.4507517455801);
  --chart-5: oklch(0.378 0.139 270.61630268625584);
  --sidebar: oklch(0.304 0.052 275.24512877805006);
  --sidebar-foreground: oklch(0.960 0.003 278.2739739888222);
  --sidebar-primary: oklch(0.558 0.198 270.98404339348286);
  --sidebar-primary-foreground: oklch(0.960 0.003 278.2739739888222);
  --sidebar-accent: oklch(0.378 0.139 270.61630268625584);
  --sidebar-accent-foreground: oklch(0.949 0.016 278.06720950891014);
  --sidebar-border: oklch(0.371 0.068 275.014650416449);
  --sidebar-ring: oklch(0.558 0.198 270.98404339348286);
}
}